{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/style-register.css' %}">
    </head>
    <body>

        <div class="container mt-5">
            
            <div class="card shadow-sm p-4">

                <h2 class = "text-center">Your Profile</h2>
                <div class="text-end">
                    <button class="btn btn-warning"><a href = "{% url "update" object.pk %}" >Edit</a></button>
                </div>
                <hr>
            
            
                <!-- Profile Section -->
                <div class="row mb-3">
                    <div class="col-8">
                        <h5>UserName</h5>
                        <p class="text-muted">{{object.username}}</p>
                    </div>
                </div>
                <hr>


                <div class="row mb-3">
                    <div class="col-8">
                        <h5>Name</h5>
                        <p class="text-muted">{{object.first_name}} {{object.last_name}}</p>
                    </div>
                    
                </div>
                <hr>
    
                <!-- Email Section -->
                <div class="row mb-3">
                    <div class="col-8">
                        <h5>Email</h5>
                        <p class="text-muted">{{object.email}}</p>
                    </div>
                    
                </div>
                <hr>

                <div class="row mb-3">
                    <div class="col-8">
                        <h5>Phone no.</h5>
                        <p class="text-muted">{{object.phone_number}}</p>
                    </div>
                    
                </div>
                <hr>
                <!-- Phone Section -->
                <div class="row mb-3">
                    <div class="col-8">
                        <h5>Address</h5>
                        <p class="text-muted">{{object.address}}</p>
                    </div>
                    
                </div>
                <hr>

                <div class="row mb-3">
                    <div class="col-8">
                        <h5>Store name</h5>
                        <p class="text-muted">{{object.store_name}}</p>
                    </div>
                    
                </div>
                <hr>

                <div class="row mb-3">
                    <div class="col-8">
                        <h5>Business license</h5>
                        <p class="text-muted">{{object.business_license}}</p>
                    </div>
                    
                </div>
                <hr>

                <div class="row mb-3">
                    <div class="col-8">
                        <h5>Bank Account Number</h5>
                        <p class="text-muted">{{object.bank_account_number}}</p>
                    </div>
                    
                </div>
                <hr>

                <div class="row mb-3">
                    <div class="col-8">
                        <h5>Tax Id</h5>
                        <p class="text-muted">{{object.tax_id}}</p>
                    </div>
                    
                </div>
                <hr>

                
    
                <div class="col-4">
                <button class = "btn btn-warning" style = "border-color: black;"><a href = "{% url "logoutpage" %}" >log out</a></button>
                </div>
                <br>
                <div class="col-4">
                <button class = "btn btn-warning" style = "border-color: black;"><a href = "{% url "delete" object.pk %}" >Delete Account</a></button>
                </div>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-warning" style="border-color: black;">
                        <a href="{% url 'homepage' %}">Go to Home Page</a>
                    </button>
                </div>
        </div>
    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    </body>
</html>